<div class="detail-container">


    <h3 class="{{challenge.type}}">{{challenge.name}}</h3>
    <img src='{{challenge.image}}' alt=" Challenge Image">
    <p>{{challenge.description}}</p>
    {{#if author}}
    <p>This challenge was created by {{author}}</p>
    {{/if}}

</div>

<div>


    {{#if challengeIsTaken}}

    <form action="/users/{{challenge._id}}/completed" method="post">

        <button type="submit">Complete</button>

    </form>

    <form action="/users/{{challenge._id}}/leave" method="post">

        <button type="submit">Give up challenge</button>

    </form>

    {{else}}

    <form action="/challenge/{{challenge._id}}/accept" method="post">

        <button type="submit">Take it!</button>

    </form>

    {{/if}}

</div>