<div class="detail-container">


    <h3 class="{{challenge.type}}">{{challenge.name}}</h3>
    <img src='{{challenge.image}}' alt=" Challenge Image">
    <p class="description-detail">{{challenge.description}}</p>
    {{#if author}}
    <p class="author">This challenge was created by <br><span>{{author}}</span></p>
    {{/if}}

</div>

<div>


    {{#if challengeIsTaken}}

    <form class="take-it" action="/users/{{challenge._id}}/completed" method="post">

        <button type="submit">Complete</button>

    </form>

    <form class="leave" action="/users/{{challenge._id}}/leave" method="post">

        <button type="submit">Give up challenge</button>

    </form>

    {{else}}

    <form class="take-it" action="/challenge/{{challenge._id}}/accept" method="post">

        <p>Are you ready?</p>

        <button type="submit">Take it!</button>

    </form>

    {{/if}}

</div>