<div>
    <h1>{{challenge.name}}</h1>

    <img src="{{challenge.image}}" alt="">

    <p>{{challenge.description}}</p>

</div>

{{#unless challengeIsTaken }}

<form action="/challenge/{{challenge._id}}/accept" method="post">
    <button type="submit">Take it!</button>
</form>

{{/unless}}

<a href="/users/{{challenge._id}}/edit">

    <button type="submit">Edit your challenge</button>

</a>


<!-- Button trigger modal -->
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Delete your challenge
</button>

<!-- Modal -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">WARNING</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Are you sure do you want to delete?</p>
            </div>

            <!-- Modal footer -->

            <div class="modal-footer">
                <form action="/users/{{challenge._id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>